/*
 * See: http://msdn.microsoft.com/en-us/library/cc351024%28v=vs.85%29.aspx
 */

/* IE 6-7 */
FORM DL DD { float: none; }

/* IE 6 */
* HTML > BODY .clr { display: inline-block; width: 100%; }
* HTML .clr { height: 1%; }

/* IE 7 */
.clr { zoom: 1; min-width: 1px; }

*:first-child + HTML .clr { min-height: 1px; }

INPUT, TEXTAREA, SELECT { font-size: 100%; }

BODY { position: relative; font-size: 12px; }

@media print {
  IMG { filter: gray; }
}

/* Fixes
 * for ie6 and below prefix with _
 * for ie7 and below prefix with *
 */

#global { position: static; zoom: 1; _width: 955px; }

LI.more UL { left: 0; top: 2em; }
/* bullets' position */
LI.more > SPAN + SPAN, LI.single > A + SPAN { margin-bottom: 1em; }
#footer LI SPAN { margin-bottom: .5em; }
#menu_categories { z-index: 9999; }
#menu_categories LI { _display: block; _width: 10em; }
/* lightbox: menu appears below the images.
 * the "transparent" border is here to fix a strange flicker effect
A[rel="lightbox"] { z-index: 0; border: #fff 1px solid; } */
LI { z-index: 1; }
/* lake of outline support */
.store_product #nav LI > IMG { border: 2px solid #FF99CC; }
/* lake of display-inline support for block-like elements */
.store_product #medium_imgs A { display: block; height: 304px; }
.store_product #basket_feedback P { display: inline; zoom: 1; }
.minusplus { display: inline; zoom: 1; }
.minusplus SPAN { margin-top: 0 !important; margin-bottom: 6px; }
#footer { _clear: both; }

/* jQuery plugins */
/*
  The following fixes a problem where IE7+ replaces a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.
*/
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); }

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft { background: url(img/cb/ie6/borderTopLeft.png); }
.cboxIE6 #cboxTopCenter { background: url(img/cb/ie6/borderTopCenter.png); }
.cboxIE6 #cboxTopRight { background: url(img/cb/ie6/borderTopRight.png); }
.cboxIE6 #cboxBottomLeft { background: url(img/cb/ie6/borderBottomLeft.png); }
.cboxIE6 #cboxBottomCenter { background: url(img/cb/ie6/borderBottomCenter.png); }
.cboxIE6 #cboxBottomRight { background: url(img/cb/ie6/borderBottomRight.png); }
.cboxIE6 #cboxMiddleLeft { background: url(img/cb/ie6/borderMiddleLeft.png); }
.cboxIE6 #cboxMiddleRight { background: url(img/cb/ie6/borderMiddleRight.png); }

.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight { _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')"); }
